.main1 {
    width: 80%;
    float: right;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
.title
{
    /* border: 1px solid black; */
    height: auto;
    width: 80%;
    text-align: center;
    font-size:x-large;
    color: rgb(8, 81, 154);
}
  .login
  {
    /* margin-top: 3%;
    margin-bottom: 3%; */
    /* border: 1px solid black; */
    height: auto;
    width: 80%;
    text-align: center;
    font-size:x-large;
  }
  .form1
  {
    /* border: 1px solid black; */
    margin-top: 1%;
    /* margin-bottom: 3%; */
    height: auto;
    width: 80%;
    
    font-size:large;
    
  }
  .form1a
  {
    /* border: 1px solid black; */
    /* margin-bottom: 3%; */
    height: auto;
    width: 48%;
    /* text-align: center; */
    font-size:large;
    /* display: inline-block; */
    float: left;
  }
  .form1b
  {
    /* border: 1px solid black; */
    /* margin-bottom: 3%; */
    height: auto;
    width: 48%;
    /* text-align: center; */
    font-size:large;
    /* display: inline-block; */
    float: right;
  }
  label{
    float: left;
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: 1px solid dodgerblue;
  }
  
  input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: 1px solid dodgerblue;
  }
  input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: 1px solid dodgerblue;
  }
input[type=checkbox] {
     width: 40px;
     height:20px; 
}
  
  .btn-pre
  {
    margin-top: 2%;
    /* border: 1px solid black; */
    height: auto;
    width: 80%;
  }
  .btn1-pre{
    height: 40px;
    width: 110px;
    font-size:medium;
    float: right;
    background-color: rgb(8, 81, 154) ;
    color: white;
    border-radius: 20px;
  }
  .btn1-pre:hover{
    background-color: white ;
    color: rgb(8, 81, 154);
  }
